<form class="m-editor" id="meme-editor-view">
  <div class="dropzone" id="dropzone">Ponga el imagen aquí</div>
  
  <h2><label for="image-scale">Cambiar el tamaño de imagen</label></h2>
  <input id="image-scale" type="range" max="4" min=".01" step=".01" value="1">
  
  <h2><label for="headline">Titular</label></h2>
  <textarea id="headline" name="headline" type="text" value=""></textarea>
  
  <select class="text-align" id="text-align">
    <option value="" disabled>Seleccione la alineación</option>
  </select>

  <select class="font-size" id="font-size">
    <option value="" disabled>Seleccione tamaño de letra</option>
  </select>

  <select class="font-family" id="font-family">
    <option value="" disabled>Seleccione el tipo de letra</option>
  </select>

  <div class="checkbox-group text-shadow">
    <input id="text-shadow" name="shadow" type="checkbox"> 
    <label for="text-shadow">Texto sombreado</label>
  </div>

  <select class="watermark" id="watermark">
    <option value="" disabled>Watermark</option>
  </select>

  <h2><label for="credit">Crédito</label></h2>
  <input id="credit" name="credit" type="text" value="">

  <div class="m-editor__overlay" id="overlay">
    <h2>Transparencia de color</h2>
    <ul class="checkbox-group">
      <li><label><input type="radio" name="overlay" value=""> Ninguno</label></li>
    </ul>
  </div>
</form>
